@import 'tailwindcss';

@theme inline {
  --font-sora: 'Sora', sans-serif;
  --font-alfa: 'Alfa Slab One', serif;
  --font-birth: 'Birthstone', cursive;
  --color-gray: #71717a;
}

@custom-variant dark (&:where(.dark, .dark *));

html {
  scroll-behavior: smooth;
  transition: all 0.2s ease;
}

body {
  font-family: var(--font-sora);
  line-height: 1.5;
}

img{
    user-select: none;
}
button, a{
    font-family: inherit;
}
section{
    padding-block: 5rem;
}
.text-stroke {
  -webkit-text-stroke: 1px black;
}

html.dark {
  background-color: #08090a;
  color: #f9fafb;
}

html.dark .text-stroke {
  -webkit-text-stroke: 1px white;
}
@media (max-width: 480px){
    section{
        padding-block: 3rem;
    }
}
