@import 'tailwindcss';

@theme inline {
  --font-sora: 'Sora', sans-serif;
  --font-alfa: 'Alfa Slab One', serif;
  --font-birth: 'Birthstone', cursive;
  --color-gray: #71717a;
}

@custom-variant dark (&:where(.dark, .dark *));

html {
  scroll-behavior: smooth;
  transition: all 0.2s ease-out;
}

body {
  font-family: var(--font-sora);
}

img{
    user-select: none;
}

.text-stroke {
  -webkit-text-stroke: 1px black;
}

html.dark {
  background-color: #08090a;
  color: #f9fafb;
}

html.dark .text-stroke {
  -webkit-text-stroke: 1px white;
}
